<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Float Layout</title>
    <link rel="stylesheet" href="monStyle.css"/>
</head>
<body>
<header>
    <h2>les grandes capitales</h2>
</header>
<section>
    <nav>
        <ul>
            <li>
                <a href="index.html">Londres</a>
            </li>
            <li>
                <a href="paris.html">Paris</a>
            </li>
            <li>Abidjan</li>
            <li>Teheran</li>
            <li>Rabat</li>
        </ul>
    </nav>
    <article>
        <h1>Londres</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolores eveniet expedita impedit
            ipsa ipsam minima natus necessitatibus odio placeat porro quasi, quos reiciendis sapiente similique tenetur
            ut veniam? Consequuntur distinctio doloremque, doloribus expedita incidunt inventore ipsum nam quisquam quo,
            repellendus sint tempore veniam voluptates. Autem culpa esse magnam numquam pariatur ratione similique
            tempora! Accusamus ad beatae consectetur maiores nostrum provident qui quibusdam voluptatem voluptatibus? A
            accusantium, animi asperiores assumenda aut consequuntur deserunt enim est fugiat molestias nisi optio
            pariatur praesentium reprehenderit sed, sequi totam vitae voluptatum. Consequuntur dicta dolores eveniet
            impedit laborum modi perspiciatis recusandae unde, vero voluptate!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque aut commodi dolor doloribus, eaque eius
            est exercitationem hic iure magnam minima nesciunt nisi nulla officia possimus praesentium repellendus
            tempore.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto beatae debitis dicta dolores, ea
            illum labore praesentium, quasi quis reprehenderit similique soluta vitae. Amet at delectus ipsam nisi, qui
            sequi similique veritatis. A blanditiis inventore iure nesciunt nihil perspiciatis recusandae reprehenderit
            tempore velit veritatis! Autem commodi dicta distinctio ducimus eaque eos inventore libero nam nemo, nobis
            quia quibusdam quis quod recusandae similique sit tempora voluptatibus! Iusto officia quia ut voluptates! Ab
            adipisci alias aspernatur assumenda deleniti est et fuga hic, itaque laboriosam mollitia nemo nesciunt nisi
            nostrum numquam officiis, porro praesentium provident quasi quod repellendus repudiandae voluptas
            voluptatum? Eligendi.</p>
        <p>Debitis laborum minima nam quos ratione. Aperiam, blanditiis dignissimos earum enim ipsum, molestiae
            necessitatibus obcaecati quod, ratione reprehenderit soluta suscipit ut! Aliquam asperiores atque, incidunt
            iste laborum tenetur vel voluptatem. Aliquam aperiam atque, cumque dolorum explicabo fugiat laborum neque
            quidem quis similique suscipit temporibus! Consequuntur ducimus excepturi inventore magnam magni nisi
            repellat repellendus sapiente tempora ullam. Ad beatae deleniti excepturi ipsa libero, maxime necessitatibus
            sapiente unde? Ab alias consequuntur culpa dolorum eligendi, enim fugiat inventore minus molestiae molestias
            nesciunt nihil nisi nobis quia quibusdam quidem quo, quos temporibus vel voluptas! Aliquam excepturi minima
            nihil non odio pariatur quisquam sint velit!</p>
        <p>Aliquam doloribus eaque eos illum molestias natus nemo officiis, reprehenderit similique sunt. Accusamus
            consectetur doloremque earum harum minus nesciunt nisi quam qui vel voluptatem? Accusamus, illo ipsum nobis
            quis recusandae repellat veniam? A cumque dolore doloribus facilis numquam perferendis quod repellendus sed
            sunt voluptatem! Aut eveniet odit sint vitae. Ad est hic id laboriosam praesentium repudiandae sunt tempora.
            Ab amet culpa, doloremque dolores ducimus, eligendi error esse excepturi id illo, magnam maxime natus
            officiis praesentium quam ratione rerum saepe voluptates. Dolorem doloribus excepturi illum iusto omnis
            veritatis. Accusamus autem, deserunt dolor, dolorem facilis iure minima nisi optio quaerat recusandae
            soluta.</p>
    </article>
</section>

<footer><p>Copyrigth &copy;2020 DAWM</p></footer>
</body>
</html>