@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Piedra&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

header {
    font-family: 'Piedra', cursive;
    background-color: darkgray;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: seashell;
}

section:after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: left;
    width: 30%;
    background-color: bisque;
    padding: 25px;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

article{
    float: left;
    width: 70%;
    padding: 10px;
    text-align: justify;
    height: 100%;
}

article h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    text-transform: capitalize;
}

footer{
    background-color: darkgray;
    padding: 10px;
    text-align: center;
    color: seashell;
}

@media (max-width: 500px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

