<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Paris</title>
    <link rel="stylesheet" href="monStyle.css"/>
</head>
<body>
<header>
    <h2>les grandes capitales</h2>
</header>
<section>
    <nav>
        <ul>
            <li>
                <a href="index.html">Londres</a>
            </li>
            <li>
                <a href="paris.html">Paris</a>
            </li>
            <li>Abidjan</li>
            <li>Teheran</li>
            <li>Rabat</li>
        </ul>
    </nav>
    <article>
        <h1>paris</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolores eveniet expedita impedit
            ipsa ipsam minima natus necessitatibus odio placeat porro quasi, quos reiciendis sapiente similique tenetur
            ut veniam? Consequuntur distinctio doloremque, doloribus expedita incidunt inventore ipsum nam quisquam quo,
            repellendus sint tempore veniam voluptates. Autem culpa esse magnam numquam pariatur ratione similique
            tempora! Accusamus ad beatae consectetur maiores nostrum provident qui quibusdam voluptatem voluptatibus? A
            accusantium, animi asperiores assumenda aut consequuntur deserunt enim est fugiat molestias nisi optio
            pariatur praesentium reprehenderit sed, sequi totam vitae voluptatum. Consequuntur dicta dolores eveniet
            impedit laborum modi perspiciatis recusandae unde, vero voluptate!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque aut commodi dolor doloribus, eaque eius
            est exercitationem hic iure magnam minima nesciunt nisi nulla officia possimus praesentium repellendus
            tempore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto blanditiis eligendi. Aliquam aperiam
            architecto consectetur cumque dignissimos doloremque ducimus eius esse fugit iure iusto libero magni neque,
            nulla placeat qui, quod quos recusandae reprehenderit, sapiente veniam voluptate voluptates! Alias aperiam
            asperiores aut beatae blanditiis cumque debitis dignissimos dolores ea eveniet ex excepturi harum iure
            maiores minima nulla perferendis, quae quas quibusdam quo ratione rerum sint. Accusamus ad alias atque aut
            delectus dolor dolore eius esse est, et excepturi exercitationem expedita fuga fugiat in minima modi nemo
            optio perspiciatis possimus quas quod reiciendis repellendus similique sit soluta tempora ut voluptate.</p>
        <p>A dignissimos doloribus eveniet in labore libero possimus quas voluptatum. Accusantium consequuntur culpa
            facilis fuga itaque laborum mollitia pariatur repellendus repudiandae tempore? Alias aspernatur consequatur
            cumque deserunt dolorem doloremque itaque iure laborum maiores maxime molestias nulla, odit optio pariatur,
            quaerat qui ratione reiciendis suscipit tenetur ut. Accusamus accusantium aliquam architecto aut culpa
            debitis, dicta dolorum eos ex expedita harum iste libero, modi mollitia nostrum possimus quas ratione
            recusandae reprehenderit totam veritatis voluptas voluptate voluptatem? Cupiditate ea ex iure non rem?
            Aliquam asperiores dicta dignissimos doloremque ea eius et expedita fuga iure neque nesciunt, nulla officiis
            pariatur quidem, sed, vero voluptatem!</p>
        <p>Cumque explicabo facilis ipsam libero, placeat quibusdam sit. Ad adipisci aliquam ducimus explicabo in
            molestiae nesciunt nihil, odio optio placeat possimus qui quod ullam veniam, vero? Adipisci aliquid
            aspernatur aut dignissimos libero minus nobis, optio quam quibusdam quos, rerum sequi sit unde. Aut facilis
            labore minus temporibus, veritatis vitae? Distinctio eius fugit tempore? Ab aliquam debitis delectus dicta
            id in molestias natus necessitatibus nobis, odit quam quas quidem, quos. A accusantium ad aliquam animi
            debitis, delectus dicta, earum est excepturi fugit harum inventore ipsum labore laboriosam modi neque nihil
            numquam officiis optio perferendis quae, quisquam sapiente sequi sunt totam voluptates.</p>
    </article>
</section>

<footer><p>Copyrigth &copy;2020 DAWM</p></footer>
</body>
</body>
</html>